<div class="panel panel-default">
  <div class="panel-body">

    <div class="row">
      <div class="col-xs-12">
        <h2>Stocks</h2>
        <p>{{ currentDate | date: 'M/d/yyyy' }}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-4 pull-right">
        <input name="stock-filter" class="form-control" ng-model="symbolFilter">
      </div>

      <div class="col-xs-4 pull-right text-right">
        <label for="stock-filter"><h4>Filter:</h4></label>
      </div>
    </div>

    <div class="table-responsive">
      <table id="stock-table" class="table table-bordered table-striped">
        <thead>
          <tr>

            <th class="pointer" ng-click="toggleSort('symbol')">
              Symbol
              <i class="glyphicon" ng-class="getIcon('symbol')"></i>
            </th>

            <th class="pointer" ng-click="toggleSort('price')">
              Price
              <i class="glyphicon" ng-class="getIcon('price')"></i>
            </th>

            <th class="pointer" ng-click="toggleSort('priceChange1D')">
              1 Day
              <i class="glyphicon" ng-class="getIcon('priceChange1D')"></i>
            </th>

            <th class="pointer" ng-click="toggleSort('priceChange7D')">
              7 Days
              <i class="glyphicon" ng-class="getIcon('priceChange7D')"></i>
            </th>

            <th class="pointer" ng-click="toggleSort('priceChange30D')">
              30 Days
              <i class="glyphicon" ng-class="getIcon('priceChange30D')"></i>
            </th>

            <th>
              Trade?
            </th>

          </tr>
        </thead>

        <tbody>
          <tr stock-row ng-repeat='stock in stocks | orderBy:sort:sortDescending | filter: { symbol: symbolFilter }' stock='stock'></tr>
        </tbody>
      </table>
    </div>

  </div>
</div>